<div class="modal fade" id="orderModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title tambahClient" id="exampleModalLabel">Detail order (<span class="detailorder"></span>)</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="minicart__header ">
          <p class="minicart__header--desc">Tanggal Pengiriman: <span class="detailorder"></span></p>
        </div>
        <div class="listHistoryOrder">
        </div>            
        <div class="minicart__amount">
          <div class="minicart__amount_list d-flex justify-content-between">
            <span>Total:</span>
            <b>Rp. 
              <span class="totalHistoryOrder">
                
              </span>
            </b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a href="https://api.whatsapp.com/send?phone=6281267666999&text=Halo%2C%20saya%20ingin%20menanyakan%20terkait%20perubahan%20jadwal" class="float" target="_blank">
  <i class="fab fa-whatsapp my-float"></i>
</a>

<footer class="footer__section footer__section3 footer__bg">
  <div class="container">
    <div class="footer__bottom">
      <div class="row justify-content-between align-items-center">
        <div class="col-12 col-md-auto">
          <p class="copyright__content">Copyright © 2023 <a class="copyright__content--link text__primary" href="/">FoodCore</a>. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>