<a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float" target="_blank">
  <i class="fab fa-whatsapp my-float"></i>
</a>

<footer class="footer__section footer__section3 footer__bg">
  <div class="container">
    <div class="footer__bottom">
      <div class="row justify-content-between align-items-center">
        <div class="col-12 col-md-auto">
          <p class="copyright__content">Copyright © 2023 <a class="copyright__content--link text__primary" href="/">FoodCore</a>. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>