<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="/js/vendor/popper.js" defer="defer"></script>
<script src="/js/vendor/bootstrap.min.js" defer="defer"></script>
<script src="/js/plugins/swiper-bundle.min.js"></script>
<script src="/js/plugins/glightbox.min.js"></script>
<!-- Customscript js -->
<script src="/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.4.0/js/responsive.bootstrap4.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.5/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.5/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.5/js/buttons.print.min.js"></script>
<script src="https://cdn.tiny.cloud/1/oy1n6bu9usn87eaexbrifn0g1f6m2gp47e9jj2wo06ism3uw/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>  
<script src="/js/vendor/moment.js" defer="defer"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/js/script.js"></script>
<!-- <script src="/js/app.js"></script> -->
<script>
    $(document).ready(function() {
        $('.inputsearch').blur(function() {
            $(".searchInput").removeClass('active')
        })
        .focus(function() {
            $(".searchInput").addClass('active')
        });
    })
    let suggestions = [
      "Ayam Rica Rica - Rp 12.000",
      "Ayam Penyet - Rp 12.000",
      "Nasi Goreng - Rp 12.000",
      "Dendeng Balado - Rp 12.000",
      "Cumi Asam Manis - Rp 12.000",
  ];

  // getting all required elements
  const searchInput = document.querySelector(".searchInput");
  const input = searchInput.querySelector(".inputsearch");
  const resultBox = searchInput.querySelector(".resultBox");
  const icon = searchInput.querySelector(".icon");
  let linkTag = searchInput.querySelector("a");
  let webLink;

  // if user press any key and release
  input.onkeyup = (e)=>{
      let userData = e.target.value; //user enetered data
      let emptyArray = [];
      if(userData){
          emptyArray = suggestions.filter((data)=>{
              //filtering array value and user characters to lowercase and return only those words which are start with user enetered chars
              return data.toLocaleLowerCase().startsWith(userData.toLocaleLowerCase()); 
          });
          emptyArray = emptyArray.map((data)=>{
              // passing return data inside li tag
              return data = '<li>'+ data +'</li>';
          });
          searchInput.classList.add("active"); //show autocomplete box
          showSuggestions(emptyArray);
          let allList = resultBox.querySelectorAll("li");
          for (let i = 0; i < allList.length; i++) {
              //adding onclick attribute in all li tag
              allList[i].setAttribute("onclick", "select(this)");
          }
      }else{
          searchInput.classList.remove("active"); //hide autocomplete box
      }
  }

  function showSuggestions(list){
      let listData;
      if(!list.length){
          userValue = input.value;
          listData = '<li>'+ userValue +'</li>';
      }else{
          listData = list.join('');
      }
      resultBox.innerHTML = listData;
  }
</script>