<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="/js/vendor/popper.js" defer="defer"></script>
<script src="/js/vendor/bootstrap.min.js" defer="defer"></script>
<script src="/js/plugins/swiper-bundle.min.js"></script>
<script src="/js/plugins/glightbox.min.js"></script>
<!-- Customscript js -->
<script src="/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.4.0/js/responsive.bootstrap4.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.5/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.5/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.5/js/buttons.print.min.js"></script>
<script src="https://cdn.tiny.cloud/1/oy1n6bu9usn87eaexbrifn0g1f6m2gp47e9jj2wo06ism3uw/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>  
<script src="/js/vendor/moment.js" defer="defer"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/js/script.js"></script>
<!-- <script src="/js/app.js"></script> -->
<script>
    $(document).ready(function() {
        let suggestions = [];
        $.ajax({
            url: "/admin/paket/listPaket/user?type=Premium",
            type: "GET",
            dataType: "json",
            data: {},
            async:false,
            success: function(ress) {
                if(ress.response == 'Successful'){
                    $.each(ress.result, function(index, val){
                        suggestions.push(val)
                        $(".resultBox").append(`<li onclick="detailmodalsearch('${val.id}')">${val.name} - Rp ${val.rateThousand}</li>`)
                    })
                }
            }
        })
        $(".resultBox").find('li').hide()
        $(".inputsearch").keyup(function (e) {
            if($(this).val()){
                var val = $.trim(this.value).toUpperCase();
                $(".resultBox li").each(function() {
                    var parent = $(this).closest('li'),
                        length = $(this).text().length > 0;
                    if (length && $(this).text().toUpperCase().search(new RegExp(val, "i")) < 0) {
                        parent.hide();
                    } else {
                        parent.show();
                    }
                });
            }else{
                $(".resultBox").find('li').hide()
            }
        })
    })

    function detailmodalsearch(id){
        $.ajax({
        url: "/admin/paket/listPaket/user?type=Premium&id="+id,
        type: "GET",
        dataType: "json",
        data: {},
        async:false,
        success: function(ress) {
            if(ress.response == 'Successful'){
                $(".searchname").html(ress.result[0].name)
                $("#searchimage").attr('src', '/img/product/'+ress.result[0].image1)
                $("#searchrate").html(`Rp ${ress.result[0].rateThousand}`)
                $("#searchdescription").html(ress.result[0].keterangan)
                $("#searchbtn").html(`<button class="addPaket btn btn-primary btn-sm minicart__open--btn w-100-media" href="javascript:void(0)" paketID="${ress.result[0].id}" paketName="${ress.result[0].name}" paketRate="${ress.result[0].rate}" paketRateThousand="${ress.result[0].rateThousand}" image1="${ress.result[0].image1}" image2="${ress.result[0].image2}" data-offcanvas>+</button>`)
                $(".predictive__search--close__btn").trigger('click');
                $(".inputsearch").val('');
                $(".resultBox").find('li').hide()
                $("#premiummodalsearch").modal('show');
            }
        }
    })
  }
</script>