<div class="offcanvas__stikcy--toolbar">
  <ul class="d-flex justify-content-between">
    <li class="offcanvas__stikcy--toolbar__list">
      <a class="offcanvas__stikcy--toolbar__btn" href="<%- session.home %>"> <span class="offcanvas__stikcy--toolbar__icon"> 
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="21.51" height="21.443" viewBox="0 0 22 17"><path fill="currentColor" d="M20.9141 7.93359c.1406.11719.2109.26953.2109.45703 0 .14063-.0469.25782-.1406.35157l-.3516.42187c-.1172.14063-.2578.21094-.4219.21094-.1406 0-.2578-.04688-.3515-.14062l-.9844-.77344V15c0 .3047-.1172.5625-.3516.7734-.2109.2344-.4687.3516-.7734.3516h-4.5c-.3047 0-.5742-.1172-.8086-.3516-.2109-.2109-.3164-.4687-.3164-.7734v-3.6562h-2.25V15c0 .3047-.11719.5625-.35156.7734-.21094.2344-.46875.3516-.77344.3516h-4.5c-.30469 0-.57422-.1172-.80859-.3516-.21094-.2109-.31641-.4687-.31641-.7734V8.46094l-.94922.77344c-.11719.09374-.24609.14062-.38672.14062-.16406 0-.30468-.07031-.42187-.21094l-.35157-.42187C.921875 8.625.875 8.50781.875 8.39062c0-.1875.070312-.33984.21094-.45703L9.73438.832031C10.1094.527344 10.5312.375 11 .375s.8906.152344 1.2656.457031l8.6485 7.101559zm-3.7266 6.50391V7.05469L11 1.99219l-6.1875 5.0625v7.38281h3.375v-3.6563c0-.3046.10547-.5624.31641-.7734.23437-.23436.5039-.35155.80859-.35155h3.375c.3047 0 .5625.11719.7734.35155.2344.211.3516.4688.3516.7734v3.6563h3.375z"></path></svg>
        </span> <span class="offcanvas__stikcy--toolbar__label">Home</span> 
      </a>
    </li>
    <li class="offcanvas__stikcy--toolbar__list">
      <a class="offcanvas__stikcy--toolbar__btn" href="/premium"> <span class="offcanvas__stikcy--toolbar__icon"> 
        <svg xmlns="http://www.w3.org/2000/svg" width="18.51" height="17.443" viewBox="0 0 512 512"><title>ionicons-v5-l</title><path d="M322,416c0,35.35-20.65,64-56,64H134c-35.35,0-56-28.65-56-64" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"/><path d="M336,336c17.67,0,32,17.91,32,40h0c0,22.09-14.33,40-32,40H64c-17.67,0-32-17.91-32-40h0c0-22.09,14.33-40,32-40" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"/><path d="M344,336H179.31a8,8,0,0,0-5.65,2.34l-26.83,26.83a4,4,0,0,1-5.66,0l-26.83-26.83a8,8,0,0,0-5.65-2.34H56a24,24,0,0,1-24-24h0a24,24,0,0,1,24-24H344a24,24,0,0,1,24,24h0A24,24,0,0,1,344,336Z" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"/><path d="M64,276v-.22c0-55,45-83.78,100-83.78h72c55,0,100,29,100,84v-.22" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"/><line x1="241" y1="112" x2="248.44" y2="175.97" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"/><path d="M256,480H395.31a32,32,0,0,0,31.91-29.61L463,112" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"/><polyline points="368 112 384 48 431 32" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="224" y1="112" x2="480" y2="112" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"/></svg>
        </span> <span class="offcanvas__stikcy--toolbar__label">Menu</span> 
      </a>
    </li>
    <% if(session.phone){ %>
      <li class="offcanvas__stikcy--toolbar__list">
        <a class="offcanvas__stikcy--toolbar__btn" href="/saran"> <span class="offcanvas__stikcy--toolbar__icon"> 
          <svg fill="currentColor" width="18.51" height="17.443" viewBox="0 0 20 20">
            <path d="M14.999,8.543c0,0.229-0.188,0.417-0.416,0.417H5.417C5.187,8.959,5,8.772,5,8.543s0.188-0.417,0.417-0.417h9.167C14.812,8.126,14.999,8.314,14.999,8.543 M12.037,10.213H5.417C5.187,10.213,5,10.4,5,10.63c0,0.229,0.188,0.416,0.417,0.416h6.621c0.229,0,0.416-0.188,0.416-0.416C12.453,10.4,12.266,10.213,12.037,10.213 M14.583,6.046H5.417C5.187,6.046,5,6.233,5,6.463c0,0.229,0.188,0.417,0.417,0.417h9.167c0.229,0,0.416-0.188,0.416-0.417C14.999,6.233,14.812,6.046,14.583,6.046 M17.916,3.542v10c0,0.229-0.188,0.417-0.417,0.417H9.373l-2.829,2.796c-0.117,0.116-0.71,0.297-0.71-0.296v-2.5H2.5c-0.229,0-0.417-0.188-0.417-0.417v-10c0-0.229,0.188-0.417,0.417-0.417h15C17.729,3.126,17.916,3.313,17.916,3.542 M17.083,3.959H2.917v9.167H6.25c0.229,0,0.417,0.187,0.417,0.416v1.919l2.242-2.215c0.079-0.077,0.184-0.12,0.294-0.12h7.881V3.959z"></path>
          </svg>
          </span> <span class="offcanvas__stikcy--toolbar__label">Saran</span> 
        </a>
      </li>
    <% } %>
    <% if(session.phone && (session.userType == 1 || session.userType == 4 || session.userType == 5 || session.userType == 7)){%> 
      <li class="offcanvas__stikcy--toolbar__list">
        <% if(session.userType == 1){%> 
        <a class="offcanvas__stikcy--toolbar__btn" href="/admin/client"> <span class="offcanvas__stikcy--toolbar__icon"> 
        <%}else if(session.userType == 4){%>  
        <a class="offcanvas__stikcy--toolbar__btn" href="/admin/jadwal"> <span class="offcanvas__stikcy--toolbar__icon">
        <%}else if(session.userType == 5 || session.userType == 7){%>  
        <a class="offcanvas__stikcy--toolbar__btn" href="/user/order"> <span class="offcanvas__stikcy--toolbar__icon"> 
        <%}%>
          <%if(session.userType == 5 || session.userType == 7){%>  
            <svg xmlns="http://www.w3.org/2000/svg" width="18.51" height="17.443" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
          <%}else{%>
            <svg xmlns="http://www.w3.org/2000/svg" width="20.51" height="19.443" viewBox="0 0 512 512">
              <path d="M344 144c-3.92 52.87-44 96-88 96s-84.15-43.12-88-96c-4-55 35-96 88-96s92 42 88 96z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
              <path d="M256 304c-87 0-175.3 48-191.64 138.6C62.39 453.52 68.57 464 80 464h352c11.44 0 17.62-10.48 15.65-21.4C431.3 352 343 304 256 304z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32" />
            </svg> 
          <% } %>
          <% if(session.userType == 1){%> 
          </span> <span class="offcanvas__stikcy--toolbar__label">Admin</span> 
          <%}else if(session.userType == 4){%>  
          </span> <span class="offcanvas__stikcy--toolbar__label">Admin</span> 
          <%}else if(session.userType == 5 || session.userType == 7){%>  
          </span> <span class="offcanvas__stikcy--toolbar__label">Riwayat</span> 
          <%}%>
        </a>
      </li>
    <%}else{%>  
      <li class="offcanvas__stikcy--toolbar__list">
        <a class="offcanvas__stikcy--toolbar__btn" href="/login"> <span class="offcanvas__stikcy--toolbar__icon"> 
          <svg xmlns="http://www.w3.org/2000/svg" width="20.51" height="19.443" viewBox="0 0 512 512">
            <path d="M344 144c-3.92 52.87-44 96-88 96s-84.15-43.12-88-96c-4-55 35-96 88-96s92 42 88 96z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
            <path d="M256 304c-87 0-175.3 48-191.64 138.6C62.39 453.52 68.57 464 80 464h352c11.44 0 17.62-10.48 15.65-21.4C431.3 352 343 304 256 304z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32" />
          </svg> 
          </span> <span class="offcanvas__stikcy--toolbar__label">Akun</span> 
        </a>
      </li>
    <%}%>  
  </ul>
</div>